html {
	position:relative;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body{
	font-family:'Inconsolata';
}

ul {
	list-style-type: none;
	margin: 30px auto 30px auto;
	font-size:18px;
}

li {
	margin: 30px auto 30px auto;
}

.pageList {
	list-style-type: disc; 
	width: 65%;
}

.pageListItem {
	margin-top: 20px;
	width: 90%;
	line-height:1.5;
}

#name {
	position: absolute;
	top: 20px;
	left: 50px;
}

.mainSectionLabel {
	margin-left: 40px;
}
.sectionLabel {
	margin: 56px auto 56px auto;
	width: 70%;
}

#header {
	margin: 56px auto 10px auto;
}

#pageTitle {
	margin-left:100px;
}

.headerThing {
	margin-left: 35%;
}

.visual-grid-item, .footer-grid-item {
	display:inline-block;
	margin-top: 50px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width:25%;
	vertical-align: top;
	min-width: 200px;
	text-align: left;
	padding: 0px;
}

.header-grid-item {
	display:inline-block;
	margin-top: -10px;
	margin-left: 1%;
	margin-right:1%;
	width:31.3%;
	vertical-align: top;
	min-width: 249px;
	text-align: left;
	padding: 0px;
} 

.project-grid-item {
	display:inline-block;
	margin-top: 20px;
	width:35%;
	margin-left: 10.5%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
}

.project-grid-item-no-width {
	display:inline-block;
	margin-top: 20px;
	margin-left: 13%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
}

.main-project-grid-item {
	display:inline-block;
	margin-top: 20px;
	width:20%;
	margin-left: 5%;
	margin-right:5%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
}
.nav-links { 
	position: absolute;
	right: 25px;
	top: 50px;
	z-index: 9000 !important;
}
.nav-links ul {
	list-style-type: none;
	margin-right:100px;
}
.nav-links li { 
	display:inline-block;
}

.nav-links.active a {
	font-weight:bolder;
}
.nav-links a {
	font-size:18px;
	padding: 4px 5px;
}

h1,h2,h3,h4,h5, .text {
	font-family:'Inconsolata';
}

h1 {
	font-size:52px;
}

h2 {
	font-size:40px;
}

h3 {
	font-size:28px;
}

h4 {
	font-size:22px;
}

a {
	text-decoration: none;
	font-size:18px;
	border-bottom: 0.8px solid;
}

a:hover, a:focus {
	color:#000;
	background:#ffdddd;
	cursor:pointer;
}

a:focus {
	outline: 3px dashed #72d0ff !important;
    	outline-offset: 3px !important;
}

p {
	font-size:18px;
	line-height:1.8;
}

.about-info {
	text-align:center;
	margin-left:5%;
	margin-right:5%;
}

.info {
	text-align: center;
	margin-left: 30px;
}

.headerContainer, .footerContainer, .about-content-item, .container, .projectContainer, .visualContainer, .project-heading-item, .visual-heading-item, .headerThing {
	position: relative;
}

.about-content-item {
	border: 1.5px solid #D8F2FF;
	border-radius: 19px;
	background-color: #D8F2FF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FDDFEB));
	background-image: -webkit-linear-gradient(top, #FFFFFF, #FDDFEB);
	background-image: -moz-linear-gradient(top, #FFFFFF, #FDDFEB);
	background-image: -ms-linear-gradient(top, #FFFFFF, #FDDFEB);
	background-image: -o-linear-gradient(top, #FFFFFF, #FDDFEB);
	background-image: linear-gradient(to bottom, #FFFFFF, #FDDFEB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FDDFEB);
	width:60%;
	margin-left: 20%;
	margin-right:20%;
	box-shadow: 5px 10px 18px #fcdbff;
}
.gridContainer {
	text-align:center;
}
.caption {
	margin-top: 5px;
}

.filler {
	height: 100px;
}

.avg-filler {
	height: 50px;
}

.mini-filler {
	height: 5px;
}

.project-info {
	text-align: left;
	margin: 56px auto 56px auto;
	width:65%;
}

.videoTitle {
	margin-left:25%;
	margin-bottom:10px;
}

.specialvideoTitle {
	margin-left:36%;
	margin-bottom:10px;
}

.video{
	margin-left:25%;
	border: 1px solid black;
}
.specialVideo{
	margin-left:36%;
	border: 1px solid black;
}

.vidButton {
	margin: 20px auto 20px 45%;
	text-align:center;
	font-family:'Inconsolata';
	font-size: 20px;
	padding:10px 10px 10px 10px;
	border-radius: 19px;
	border:1px solid #32383B;
	cursor:pointer;
	background-color: #D8F2FF; background-image: -webkit-gradient(linear, left top, left bottom, from(#D8F2FF), to(#FDDFEB));
	background-image: -webkit-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: -moz-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: -ms-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: -o-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: linear-gradient(to bottom, #D8F2FF, #FDDFEB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D8F2FF, endColorstr=#FDDFEB);
	
}

.homeButton {
	margin: 20px auto 20px 45%;
	text-align:center;
	background-color: white;
	font-family:'Inconsolata';
	font-size: 20px;
	padding:6px;
	border-radius: 15px;
	border:1px solid black;
	cursor:pointer;
	transition-duration: 0.4s;
}

.vidButton:hover, .vidButton:focus {
	border:1px solid #72d0ff;
	font-weight:bolder;
	transition-duration: 0.4s;
	background-color: #FDDFEB; background-image: -webkit-gradient(linear, left top, left bottom, from(#FDDFEB), to(#FDDFEB));
	background-image: -webkit-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: -moz-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: -ms-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: -o-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: linear-gradient(to bottom, #FDDFEB, #FDDFEB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDDFEB, endColorstr=#FDDFEB);
}

.project-img {
	margin: 20px auto 20px 20%;
}

.project-img-other {
	margin: 20px auto 20px 3%;
}



@media screen and (min-width:1286px) {
	#links {
		color: orange;
		text-align: left;
	}
	.headerContainer, .footerContainer, .about-content-item, .container, .projectContainer, .visualContainer, .project-heading-item, .visual-heading-item, .headerThing {
		width: auto;
	}
}


@media screen and (max-width: 768px) {

	.headerContainer, .footerContainer, .about-content-item, .container, .projectContainer, .visualContainer, .project-heading-item, .visual-heading-item, .headerThing {
		width: auto;
	}

	.nav-links {
		width:100%;
	}
	.grid-caption {
		margin-bottom: 24px; 
	}

	#footer {
		margin-top: 0px;
		margin-bottom: 24px;
	}

	.headerThing {
		width: 400px;
	}
}



