html {
	position:relative;
	scroll-behavior: smooth;
	overflow-y: scroll;
}

body{
	font-family:'Lato';
	padding: 16px;
}

.hidden {
	display:none;
}

ul {
	list-style-type: none;
	margin: 30px auto 30px auto;
	font-size:18px;
}

li {
	margin: 30px auto 30px auto;
}

.pageList {
	list-style-type: disc; 
	width: 65%;
}

.pageListItem {
	margin-top: 20px;
	width: 90%;
	line-height:1.5;
}

#name {
	position: absolute;
	top: 20px;
	color: #7471b5;
	left: 50px;
}

/*https://codepen.io/colloque/pen/bDgmx*/
#name:hover {
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  	-webkit-mask-size: 200%;
  	animation: shine 2s infinite;
}
@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

.sticky {
	position: fixed;
	top: 10px;
	width: 22%;
	height: 100px;
	box-shadow: 5px 5px 10px #bffff0;
}

.sticky + body {
  padding-top: 60px;
}

.mainSectionLabel {
	margin-left: 40px;
}
.sectionLabel {
	margin: 56px auto 56px auto;
	width: 70%;
}

#header {
	margin: 56px auto 10px auto;
}

#pageTitle, .backLink {
	margin-left:100px;
}

.headerThing {
	margin-left: 35%;
	width: 1000px;
	height: 220px;
	border: none;
}

.visual-grid-item, .footer-grid-item {
	display:inline-block;
	margin-top: 50px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width:25%;
	vertical-align: top;
	min-width: 200px;
	text-align: left;
	padding: 0px;
}

.header-grid-item {
	display:inline-block;
	margin-top: -10px;
	margin-left: 1%;
	margin-right:1%;
	width:31.3%;
	vertical-align: top;
	min-width: 249px;
	text-align: left;
	padding: 0px;
} 

.project-grid-item {
	display:inline-block;
	margin-top: 20px;
	width:35%;
	margin-left: 10.5%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
}

.project-grid-item-no-width {
	display:inline-block;
	margin-top: 20px;
	margin-left: 11%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
}

.main-project-grid-item {
	display:inline-block;
	margin-top: 20px;
	width:20%;
	margin-left: 5%;
	margin-right:5%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
}

#navbar {
	overflow: hidden;
	background-color: #FFFFFF;
}

#project, #visual, #blog {
	border-bottom: 0px;
}
.nav-links { 
	/*position: absolute;*/
	right: 25px;
	/*margin-top: 50px;*/
	z-index: 9000 !important;
}
.nav-links ul {
	list-style-type: none;
	margin-right:10px;
}
.nav-links li { 
	display:inline-block;
	font-family: 'Concert One', cursive;
}

.nav-links.active a {
	font-weight:bolder;
}
.nav-links a {
	font-size:18px;
	padding: 4px 5px;
}

h1,h2,h3,h4,h5, .text {
	font-family: 'Concert One', cursive;
	color: #7471b5;
}

h1 {
	font-size:52px;
}

h2 {
	font-size:40px;
}

h3 {
	font-size:28px;
}

h4 {
	font-size:22px;
}

a {
	text-decoration: none;
	font-size:18px;
	border-bottom: 0.8px solid #f7c456;
}

/*a:hover, a:focus {
	color:#000;
	background:#ffdddd;
	cursor:pointer;
}*/

a:hover, a:focus {
	outline: 3px dashed #72d0ff !important;
    outline-offset: 3px !important;
	cursor:pointer;
	color:#000;
}

a:focus {
	background:#ffdddd;
}

p {
	font-size:18px;
	line-height:1.8;
}

.about-info {
	text-align:left;
	margin-left:5%;
	margin-right:5%;
}

.info {
	text-align: center;
	margin-left: 30px;
}

.headerContainer, .footerContainer, .about-content-item, .container, .projectContainer, .visualContainer, .project-heading-item, .visual-heading-item, .headerThing {
	position: relative;
}

.about-content-item {
	border: 0.1px solid #4e5559;
	font-family: 'Inconsolata';
	font-size: 20px;
	border-radius: 19px;
	background-color: #FFFFFF; background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FDDFEB));
	background-image: -webkit-linear-gradient(top, #FDDFEB, #fff9d8);
	background-image: -moz-linear-gradient(top, #FDDFEB, #fff9d8);
	background-image: -ms-linear-gradient(top, #FDDFEB, #fff9d8);
	background-image: -o-linear-gradient(top, #FDDFEB, #fff9d8);
	background-image: linear-gradient(to bottom, #FDDFEB, #fff9d8);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFFFFF, endColorstr=#FDDFEB);
	width:60%;
	margin-left: 20%;
	margin-right:20%;
	-moz-box-shadow: 3px 3px 5px 6px #fcdbff;
  	-webkit-box-shadow: 3px 3px 5px 6px #fcdbff;
  	box-shadow: 8px 8px 20px #fcdbff;
}
.gridContainer {
	text-align:center;
}
.caption {
	font-family: 'Inconsolata';
	margin-top: 5px;
}

.caption-text{
	font-family: 'Lato';
	font-size: 16px;
}

.filler {
	height: 100px;
}

.avg-filler {
	height: 50px;
}

.mini-filler {
	height: 5px;
}

.project-info {
	text-align: left;
	margin: 56px auto 56px auto;
	width:65%;
}

.videoTitle {
	margin-left:25%;
	margin-bottom:10px;
}

.specialvideoTitle {
	margin-left:36%;
	margin-bottom:10px;
}

.video{
	margin-left:25%;
	border: 1px solid black;
}
.specialVideo{
	margin-left:36%;
	border: 1px solid black;
}

.vidButton {
	margin: 20px auto 20px 45%;
	text-align:center;
	font-family: 'Concert One', cursive;
	font-size: 20px;
	padding:10px 10px 10px 10px;
	border-radius: 19px;
	border:1px solid #32383B;
	cursor:pointer;
	background-color: #D8F2FF; background-image: -webkit-gradient(linear, left top, left bottom, from(#D8F2FF), to(#FDDFEB));
	background-image: -webkit-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: -moz-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: -ms-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: -o-linear-gradient(top, #D8F2FF, #FDDFEB);
	background-image: linear-gradient(to bottom, #D8F2FF, #FDDFEB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D8F2FF, endColorstr=#FDDFEB);
	
}

.homeButton {
	margin: 20px auto 20px 45%;
	text-align:center;
	background-color: white;
	font-family:'Inconsolata';
	font-size: 20px;
	padding:6px;
	border-radius: 15px;
	border:1px solid black;
	cursor:pointer;
	transition-duration: 0.4s;
}

.vidButton:hover, .vidButton:focus {
	border:1px solid #72d0ff;
	font-weight:bolder;
	transition-duration: 0.4s;
	background-color: #FDDFEB; background-image: -webkit-gradient(linear, left top, left bottom, from(#FDDFEB), to(#FDDFEB));
	background-image: -webkit-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: -moz-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: -ms-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: -o-linear-gradient(top, #FDDFEB, #FDDFEB);
	background-image: linear-gradient(to bottom, #FDDFEB, #FDDFEB);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FDDFEB, endColorstr=#FDDFEB);
}

.project-img {
	margin: 20px auto 20px 20%;
}

.project-img-other {
	margin: 20px auto 20px 3%;
}



@media screen and (max-width:1286px) {
	#links {
		color: orange;
		text-align: left;
	}
	.headerContainer, .header-grid-item, .footerContainer, .about-content-item, .container, .projectContainer, .visualContainer, .project-heading-item, .visual-heading-item{
		width: auto;
	}

	.sticky {
		width: 30%;
	}

	.headerThing {
		width: 530px;
	}

	.visual-grid-item, .footer-grid-item {
	display:inline-block;
	margin-top: 50px;
	margin-left: 1%;
	margin-right: 1%;
	width:40%;
	vertical-align: top;
	text-align: left;
	padding: 0px;
}
}


@media screen and (max-width: 768px) {

	.headerContainer, .footerContainer, .about-content-item, .container, .projectContainer, .visualContainer, .project-heading-item, .visual-heading-item, .header-grid-item {
		width: auto;
	}

	.sticky {
		width: 30%;
	}

	.nav-links {
		width:90%;
		margin-top:20px;
	}
	.grid-caption {
		margin-bottom: 24px; 
	}

	#footer {
		margin-top: 0px;
		margin-bottom: 24px;
	}

	.headerThing {
		width: 300px;
	}

	.footerFont {
		font-family: 'Concert One', cursive;
	}

	.visual-grid-item, .footer-grid-item {
	display:inline-block;
	margin-top: 50px;
	margin-left: 1.5%;
	margin-right: 1.5%;
	width:75%;
	vertical-align: top;
	min-width: 200px;
	text-align: left;
	padding: 0px;
}
}
